.purchase-board {
    margin: 30px auto;
    width: 95%;
}

.purchase-custom-select-wrapper {
    position: relative;
    width: 300px;
}

.purchase-custom-file {
    position: relative;
    margin-left: 52px;
}

.purchase-custom-file input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.purchase-item-image-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.purchase-item-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.purchase-file-upload-button {
    width: 8%;
    height: 24px;
    text-align: center;
    font-size: 18px;
    padding: 3px 3px;
    min-width: 100px;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
    color: #000000;
}

.purchase-file-upload-commands {
    margin-top: 3px;
    display: flex;
}

.purchase-board {
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

.purchase-item-container {
    display: flex;
}

.purchase-item-note {
    margin-top: -28px;
    padding-top: 0;
    padding-left: 20px;
}

.purchase-item-name {
    padding: 0px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.purchase-left-block {
    text-align: left;
    margin: 0;
    width: 70%;
}

.purchase-right-block {
    text-align: left;
    margin: 0;
    width: 30%;
}

.purchase-section-borderline {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 30px;
    text-align: left;
}

.purchase-delivery-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.purchase-purchase-method {
    margin-left: 5%;
}

.purchase-address {
    margin-left: 5%;
}

.purchase-address-detail {
    font-weight: bold;
}

.purchase-price-container {
    margin-top: -10px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.purchase-price-sign {
    font-size: 20px;
    padding: 0px;
}

.purchase-price-value {
    font-size: 28px;
    padding-bottom: 6px;
}

.purchase-table-price-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase-table-normal-text {
    padding: 0px;
    font-size: 15px;
}

.purchase-table-price-value {
    font-size: 20px;
    padding-bottom: 2px;
}

.purchase-table {
    border-collapse: collapse; /* 枠線をまとめる */
    border: 1px solid #000; /* 外枠線 */
    width: 100%; /* 内容に合わせる（任意） */
}

.purchase-table td {
    border-top: 1px solid #000; /* 横線のみ */
    border-bottom: 1px solid #000;
    border-left: none; /* 縦線なし */
    border-right: none;
    padding: 0;
}

/* 最初の行の上にも線を出す（外枠と連続させる） */
.purchase-table tr:first-child td {
    border-top: none;
}

.purchase-table-first-row td {
    height: 80px;
    padding: 0;
    text-align: center;
}

.purchase-table-second-row td {
    height: 80px;
    padding: 0;
    text-align: center;
}

.purchase-form__button {
    margin-top: 30px;
}
